doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon', href='../assets/general/favicon.png')
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    // jQuery
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    // Boostrap 4
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    // Fontawesome
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // AOS
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    // Custom CSS rules
    link(rel='stylesheet', href='../css/main.css')
    title Dev Chat
  body
    nav#navbar.navbar.navbar-dark.bg-dark.text-white.d-block(style="height: 8vh")
      div(style="float: right;")  
        img.rounded-circle(style="height: 6vh", :src="user.profilePicture")   
        h6.d-inline.mx-3 @{{user.username}} 
    #contentWrap.container
      .row.mt-4
        // offset-md-1
        #users-box.card.col-md-3(data-aos="fade-right", data-aos-duration="1500")
          .card-header
            div.d-inline-block(style="width: 13px; height: 13px; margin-right: 10px; border-radius: 50%; background-color: green")
            h6.d-inline-block Devs
          .card-body
            //- #usernames
            each user in users
              .row.my-1.mb-2.user-github(id=`${user.username}`, style="cursor: pointer")
                .col-2(style="padding: 0")
                  img(src=`${user.avatar}`, style="width: 100%").rounded-circle.d-inline-block
                .col-10(id=`${user.username}`)
                  p.d-inline-block= user.username
        .col-md-6.text-white
          //- (data-aos="fade-up", data-aos-duration="2000",data-aos-easing="ease-out")
          .card.bg-dark
            .card-header
              img(src="https://png.pngtree.com/svg/20161220/robot_378409.png", style="width: 20px; margin-right: 10px")
              h6.d-inline-block Saturday's Topic: IA in &nbsp
              h6.d-inline-block= technology
            .card-body.messageBox#messageBox
              // Messages
              #chat.container
                each message in messages
                  .row.my-2.mb-3(class=`${message.username}_row`)
                    .col-1(style="padding: 0", class=`${message.username}_img`)
                      img.rounded-circle.avatar(src=`${message.avatar}`)
                    .col-10(class=`${message.username}_wrapper`)
                      em.d-block(style="font-size: 11px", class=`${message.username}_name`)= `@${message.username}`
                      p(class=`${message.username}_msg`).single-message= message.message
                    .col-1(class=`${message.username}_oculted`)
                hr
                      //- (data-toggle="tooltip",data-placement="left",title="${moment().format('lll')}")
          form#message-form.bg-dark.card-footer
            .input-group
              input#message.form-control(type='text',autocomplete="off", style="outline: none; border: none")
              //- .input-group-append
              //-   i#image-send.fa.fa-image.btn.btn-light
              .input-group-append
                button.btn(type='submit', style="background: #073045; color: white")
                  i.fa.fa-paper-plane
        .col-md-3#github-box(data-aos="fade-left", data-aos-duration="1500")
          .card.bg-light
            .card-header
              img#github-user.rounded-circle.d-block.mx-auto(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png", style="width:35px; margin-right: 10px;")
              //- h6.d-inline-block Github Repos
            .card-body#github-repos

    script(src='https://momentjs.com/downloads/moment-with-locales.min.js')
    script.
      AOS.init();
    script(src='/socket.io/socket.io.js')
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src='/js/chat.js')
    script.
      var navbar = new Vue({
        el: '#navbar',
        data: {
          user: {
            username: socket.username,
            profilePicture: socket.avatar
          }
        }
      })
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
